* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-log{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    color: #F8F9FA;
}

.header-log{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.logo-log{
    margin-top: 10px;
    margin-left: 10px;
}

.form-container-log{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.form-rectangle-log {
    width: 100%;
    max-width: 700px;
    max-height: 780px;
    padding: 30px;
    background-color: #F8F9FA;
    box-shadow: 0px 0px 250px 5px #00000040;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
}

.log{
    font-family: "Golos Text";
    text-align: center;
    color: #0B2027;
    font-size: 54px;
    font-weight: 500;
    line-height: 130px;
    width: 100%;
    margin-bottom: 40px;
}

.form-log{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

.input-log{
    font-family: "Hero";
    width: 400px;
    background-color: transparent;
    margin-bottom: 17px;
    padding: 8px 4px;
    font-size: 20px;
    line-height: 33px;
    border: none;
    border-bottom: 2px solid #CACACA;
}

.input-log:focus{
    outline: none;
}

.input-log::placeholder{
    font-size: 20px;
    line-height: 33px;
    opacity: 0.8;
}

.btn-log{
    font-family: "Hero";
    padding: 7px 28px;
    font-size: 22px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.0375em;
    text-align: center;
    background: #00C08BCC;
    border: none;
    border-radius: 100px;
    max-width: 206px;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-log:hover {
    background-color: rgba(0, 192, 139, 0.6);
}

.btn-log:active{
    background-color: rgba(0, 192, 139, 0.8);
}

.new-account{
    display: flex;
    margin-bottom: 20px;
    font-size: 20px;
}

.to-reg{
    font-weight: 700;
    text-decoration: none;
    color: #0B2027CC;
}

.have-account{
    color: #0B202766;
    margin-right: 19px;
}

.to-reg:hover{
    color: hsla(195, 56%, 10%, 0.6);
}

.to-reg:active{
    color: hsla(195, 56%, 10%, 0.8);
}