/* * {
  font-family: 'Hero-Regular';
} */

.modal-overlay-application {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000079;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: 'Hero';
}

.close-modal-application-hr {
  position: absolute;
  top: 70px;
  right: 390px;
  font-size: 32px;
  cursor: pointer;
  background: none;
  border: none;
}

.application-container-hr {
  width: 1131px;
  height: 870px;
  background: #fff;
  border-radius: 45px;
  box-shadow: 0px 0px 250px 5px #00000040;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.user-info-container-application {
  display: flex;
  flex-direction: column;
  max-width: 1131px;
  margin-bottom: 50px;
}

.apllication-from-name {
  text-align: center;
  margin-bottom: 45px;
  font-size: 30px;
  margin-top: 20px;
}

.application-user-info-item {
  display: flex;
  text-align: left;
  margin-left: 30px;
  font-size: 24px;
  margin-bottom: 18px;
}

.application-benefit-info-item {
  margin-bottom: 18px;
}

.application-benefit-info-item span{
  margin-right: 20px;
}

.benefit-detailed-btn{
  font-family: 'Hero';
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #828282;
}

.benefit-info-container-application {
  margin-top: 18px;
  margin-left: 30px;
  font-size: 24px;
}

.benefit-info-container-application label {
  color: #828282;
  margin-right: 10px;
}

.split-line {
  padding-right: 20px;
  border-top: 1px solid #cacaca;
  width: 1131px;
  margin-left: -20px;
  margin-top: -20px;
  margin-bottom: 26px;
}

.application-user-info-item label {
  color: #828282;
  margin-right: 10px;
}

.deni-application {
  position: fixed;
  top: 10px;
  left: 130px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.apply-application {
  position: fixed;
  top: 10px;
  left: 130px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.apply-deni-buttons {
  margin: 0 auto;
  margin-top: 60px;
}

.application-deni-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 80px;
  font-size: 22px;
  font-family: 'Hero';
  background-color: #cc3234;
  padding: 16px 34px;
  border-radius: 100px;
  color: white;
  white-space: 3.75%;
  font-weight: 200;
}

.application-apply-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 22px;
  font-family: 'Hero';
  background-color: #00c08bcc;
  padding: 16px 34px;
  border-radius: 100px;
  color: white;
  white-space: 3.75%;
  font-weight: 200;
}

.dark-bgr-application {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #00000079;
}

.deni-application {
  width: 725px;
  height: 339px;
  background: #fff;
  border-radius: 45px;
  box-shadow: 0px 0px 250px 5px #00000040;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 454px;
  margin-top: 300px;
}

.first-application-row {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.first-application-row-other{
  font-size: 30px;
}

.reason-deni-msg{
  margin: 30px 0 60px 0;
}

.reason-deni-msg-title{
  color: #0B202766;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 400px;
  padding-left: 10px;
}

.reason-deni-msg-field{
  width: 490px;
  height: 40px;
  border-radius: 15px;
  border: 0.5px solid #000;
  padding-left: 10px;
}

.application-deni-button-inside {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 112px;
  font-size: 22px;
  font-family: 'Hero';
  background-color: #cc3234;
  padding: 16px 42px;
  border-radius: 100px;
  color: white;
  white-space: 3.75%;
  font-weight: 200;
}

.application-apply-button-inside {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 22px;
  font-family: 'Hero';
  background-color: #00c08bcc;
  padding: 16px 42px;
  border-radius: 100px;
  color: white;
  white-space: 3.75%;
  font-weight: 200;
}

.apply-application {
  width: 725px;
  height: 339px;
  background: #fff;
  border-radius: 45px;
  box-shadow: 0px 0px 250px 5px #00000040;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 454px;
  margin-top: 300px;
}

.main-content-app {
  display: grid;
  justify-content: center;
  align-items: center;
}

.modal-overlay-benefit-detailed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: 'Hero';
}

.modal-overlay-benefit-detailed-content{
  margin-top: 100px;
  background: #fff;
  padding: 20px;
  border-radius: 45px;
  width: 1500px;
  height: 800px;
  max-width: 90%;
  box-shadow: 0px 4px 50px 0px #00000040;
}

.modal-benefit-detailed-wrapper{
  font-family: "Golos Text";
}

.logo-link-applications{
  margin-left: -160px;
}

.close-modal-div-applications{
  display: flex;
  position: absolute;
  top: 20px;
  justify-content: center;
}

.logo-udv-applications{
  width: 290px;
  margin-top: 30px;
}

.second-item-close{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 80px;
}

.close-modal-applications-info-benefit{
  font-family: "Golos Text";
  font-size: 42px;
  font-weight: 700;
  margin-left: 15px;
  margin-right: 40px;
}

.close-modal-hr-benefit-applications {
  font-size: 32px;
  cursor: pointer;
  background: none;
  border: none;
  margin-top: 10px;
}

.benefit-applications-name{
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.benefit-applications-decsr{
  font-size: 30px;
  font-weight: 400;
  margin: 60px 0 100px 74px;
  max-width: 800px;
  text-align: left;
  height: 374px;
  overflow-x: hidden;
  direction: rtl;
  padding-left: 20px;
  line-height: 1.6;
}

.benefit-applications-decsr::-webkit-scrollbar {
  width: 8px;
}

.benefit-applications-decsr::-webkit-scrollbar-thumb {
  background: #00c08a88;
  border-radius: 4px;
}

.benefit-applications-decsr::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 161, 116, 0.533);
}

.benefit-applications-exp{
  font-family: 'Hero';
  margin-left: 102px;
  font-size: 24px;
  color: #828282;
  margin-bottom: 16px;
}

.benefit-applications-exp b{
  margin-left: 10px;
  color: black;
  font-weight: 400;
}

.benefit-applications-ucoin{
  font-family: 'Hero';
  margin-left: 102px;
  font-size: 24px;
  color: #828282;
  margin-bottom: 16px;
}

.benefit-applications-ucoin b{
  margin-left: 10px;
  color: black;
  font-weight: 400;
}

.benefit-applications-period{
  font-family: 'Hero';
  margin-left: 102px;
  font-size: 24px;
}

.modal-applications-photo {
  position: absolute;
  top: 50%;
  right: 230px;
  transform: translateY(-60%);
  width: 523px;
  height: 381px;
  border-radius: 42px;
  object-fit: cover;
}